<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AEGuideViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C2CC854D1DD59A6C00A93429</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2CC85661DD59A6C00A93429</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2CC85711DD59A6C00A93429</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
